.widgets-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  app-cms-widget {
    width: 400px;
    margin-right: 1rem;
    margin-bottom: 2rem;
  }
}
