.container {
  .check-list-title {
    text-align: center;
    letter-spacing: 0.125rem;
    text-align: center;
    font-size: 0.75rem;
    margin-top: 0.4rem;
  }

  ul {
    margin-left: -1rem;
    list-style-type: none;
  }

  .checkmark-bullet {
    margin-right: 0.5rem;
  }
}
