.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.yellow {
  border: 1px solid yellow;
}
.red {
  border: 1px solid red;
}
.orange {
  border: 1px solid orange;
}
.green {
  border: 1px solid green;
}
.light-green {
  border: 1px solid lightgreen;
}
