.container {
  display: flex;
  justify-content: space-around;
}
.yellow {
  border: 1px solid yellow;
}
.red {
  border: 1px solid red;
}
.orange {
  border: 1px solid orange;
}
.green {
  border: 1px solid green;
}
