.upgrade-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;

  h2 {
    text-align: center;
  }

  .center {
    display: flex;
    justify-content: center;
    spectrum-speedometer {
      justify-self: center;
      width: 9.75rem;
      // margin-bottom: 0.625rem;
    }
  }
}
