<div class="offer-top-border" tabindex="-1"></div>
<div class="upgrade-details">
  <h2>{{ name }}</h2>

  <div class="center">
    <spectrum-speedometer
      class="temp-speedo-container"
      [textHeadline]="textHeadline"
      [textValue]="internetSpeed"
      [textUnits]="textUnits"
      screenReaderUnits="mbps"
      [ringFillPercent]="ringFillPercent"
    ></spectrum-speedometer>
  </div>
</div>

<div class="details-price">
  <div class="details-price-amount">
    +{{ netPrice | currency: "USD":"symbol":"1.0-2" }}
  </div>
  <div class="details-price-per-month">
    {{ planPriceText }}
  </div>
</div>
